/* Estilos generales de body*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
    width: 100vw;
    overflow-x:hidden;
    display: flex; 
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;

  }
  
 
body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    color: #333; 
    line-height: 1.6; 
}

#root {
    display: flex;
    flex-direction: column;            /*la dirección deseada para tu diseño */
    align-items: center;               /* Centra horizontalmente */
   /* justify-content: center; Centra verticalmente */
    height: 100vh;                    /* ajusta la altura según tus necesidades */
    background-color: #f0f0f0;      /* Color de fondo */
  }
