
.container-nw{
    margin: 5px;
    width: 90%;
    height: auto;
    position: relative;
    top:  5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(182, 182, 182, 0.342);
   cursor: pointer;
}

.container-nw:hover{
    background-color: #ffffff34;
    transition: ease-in-out 100ms;  
    box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.153);
}

.container-nw{
    flex-direction: column;
    align-items: center;
}



.container-nw .titulo{
    color: rgb(139, 139, 139);
    font-weight: 600;
    margin-bottom: 10px;
}

.container-nw .info{
    margin-left: 10px;
    align-self: baseline;
    font-size: 14px;
    color: rgba(81, 81, 81, 0.471);
    margin-bottom: 10px;
}

.container-nw .area, .fecha{
    margin-top: 0;
    padding: 0;
    font-size: 14px;
    align-self: baseline;
    
    
}





